<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="../../static/css/baseballteam.css" th:href="@{/css/baseballteam.css}" rel="stylesheet">
<title>タイトル</title>
</head>
<body>
<h2>球団名</h2>
<span th:text="${team.teamName}">ダミー</span>
<h2>本拠地</h2>
<span th:text="${team.headquarters}">ダミー</span>
<h2>発足</h2>
<span th:text="${team.inauguration}">ダミー</span>
<h2>歴史</h2>
<div class="div-pre" th:text="${team.history}">ダミー</div><br>
<a href="./list.html" th:href="@{/ex01/}">戻る</a>
</body>
</html>