@charset "UTF-8";

.error-messages {
	color: red;
}

table, tr, td {
	border: solid 1px;
}

table {
	width: 360px;
	margin: 5px 0 5px 0;
}

.even {
	background-color: #ccccff
}

.odd {
	background-color: #ccffff
}

.small {
	width: 120px;
}

.large {
	width: 240px;
}

.div-gender {
	margin-right: 10px;
}

.color {
	width: 80px;
	height: 20px;
}

main {
	display: flex;
}